@media screen and (max-width: 500px) {
  main {
    width: calc(100% - 40px);
    height: 100%;
    padding-block: 20px;
  }
  main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .buttons {
    justify-content: space-between;
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: repeat(4, 60px);
    grid-column-gap: 10px;
    .button {
      height: 60px !important;
    }
  }
}
@media screen and (min-height: 500px) and (max-height: 700px) {
  .buttons {
    grid-gap: 10px !important;
  }
}
